<h1 style = "color : Brown">Loops & Iteration</h1>

In [1]:
list_1 = [10, 20, 30, 40, 50]

In [2]:
len(list_1)

5

In [3]:
## Iterate over a list of integers
for i in list_1:
    print(i)

10
20
30
40
50

In [4]:
## Iterate over a String
str_1 = "India"
for i in str_1:
    print(i)

I
n
d
i
a

In [5]:
student_data = {1: ["Sam", 25], 2: ["Sharma", 21], 3: ["Ravi", 23], 4: ["Shalu", 23], 5: ["Sid", 22]}

In [6]:
student_data

{1: ['Sam', 25],
 2: ['Sharma', 21],
 3: ['Ravi', 23],
 4: ['Shalu', 23],
 5: ['Sid', 22]}

In [7]:
## Iterate over a Dictionary

for i in student_data:
    print(i)

1
2
3
4
5

In [8]:
## Iterate over a Dictionary

for i in student_data.items():
    print(i)

(1, ['Sam', 25])
(2, ['Sharma', 21])
(3, ['Ravi', 23])
(4, ['Shalu', 23])
(5, ['Sid', 22])

In [12]:
for i,j in student_data.items():
    print(j[0])

Sam
Sharma
Ravi
Shalu
Sid

In [48]:
## Iterate over a Dictionary
for i,j in student_data.items():
    print(j[1])

25
21
23
23
22

In [13]:
for i,j in student_data.items():
    print(i)
    print(j[0])

1
Sam
2
Sharma
3
Ravi
4
Shalu
5
Sid

In [14]:
for i in student_data:
    print(i)

1
2
3
4
5

In [15]:
## Iterate over a range of values

for i in range(2,5):
    print(i)

2
3
4

In [16]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

In [18]:
for i in list_1:
    list_2.append(len(i))

print(list_2)

[11, 5, 4, 6, 3]

In [19]:
i = 1
while i < 6:
  print(i)
  i = i + 1

1
2
3
4
5

In [20]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

In [22]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [5]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6