<h1 style = "color : Brown">Lists</h1>

   - Lists are ordered sequence of mixed data types
   - Lists are written in comma separated elements within square brackets

In [ ]:
integers
float
string
combinational
lists --> nested lists

In [1]:
cust_info = ["Satyajit", 33, "Hong Kong", 12000, 14000, "1GB", 5.5]

In [2]:
cust_info

['Satyajit', 33, 'Hong Kong', 12000, 14000, '1GB', 5.5]

In [3]:
print(cust_info)

['Satyajit', 33, 'Hong Kong', 12000, 14000, '1GB', 5.5]

In [5]:
print(type(cust_info))

<class 'list'>

In [6]:
cust_info_new = ("Satyajit", 31, "Hong Kong", 12000, 14000, "1GB")

In [7]:
type(cust_info_new)

tuple

In [8]:
cust_info_tup_new = "Satyajit", 31, "Hong Kong", 12000, 14000, "1GB"

In [9]:
type(cust_info_tup_new)

tuple

In [9]:
abc = "Satyajit"

In [10]:
type(abc)

str

In [11]:
abc_new = "Satyajit",

In [12]:
type(abc_new)

tuple

In [8]:
type(cust_info_tup_new)

tuple

In [3]:
list1 = ["India", 5, "Delhi"]

In [4]:
list1

['India', 5, 'Delhi']

In [6]:
type(list1)

list

In [15]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [10]:
#Nested list - List within a List

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

In [11]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [12]:
list2[0]

'India'

In [13]:
list2[2]

5

In [14]:
list2[-3]

5

In [15]:
list2[4]

['Rajkot', 'Chennai']

In [16]:
a = list2[4]
print(a)
print(type(a))

['Rajkot', 'Chennai']
<class 'list'>

In [17]:
a[0]

'Rajkot'

In [18]:
list2[4][0]

'Rajkot'

In [19]:
list2[4][-2]

'Rajkot'

In [20]:
list2[-1][0]

'Rajkot'

In [21]:
list2[-1][-2]

'Rajkot'

In [22]:
len(list2)

5

In [23]:
list2[0:2]

['India', 'Delhi']

In [24]:
list2[0:3]

['India', 'Delhi', 5]

In [25]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [ ]:
India --> Japan
Delhi --> Tokyo

In [27]:
list2[0] = 'Japan'
list2[1] = 'Tokyo'

In [28]:
list2

['Japan', 'Tokyo', 5, 10, ['Rajkot', 'Chennai']]

In [29]:
tuple2 = ('India', 'Delhi', 5, 10, ['Rajkot', 'Chennai'])

In [31]:
tuple2[0]

'India'

In [19]:
list1 = ["India", "Delhi", 5, 10]

In [24]:
list1[-3]

'Delhi'

In [26]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [ ]:
str, str, int, int, list

In [29]:
list2[4] --> list3

['Rajkot', 'Chennai']

In [ ]:
list3 --> [Rajkot, Chennai]

In [31]:
list2[4][0]

'Rajkot'

In [32]:
list2[4][-2]

'Rajkot'

In [33]:
list2[-1][0]

'Rajkot'

In [34]:
list2[-1][-2]

'Rajkot'

In [13]:
type(list2[0])

str

In [14]:
list2

['India', 'Delhi', 5, 10, ['Rajkot', 'Chennai']]

In [16]:
list2[4]

['Rajkot', 'Chennai']

In [18]:
list2[4][1]

'Chennai'

In [19]:
list2[-1][-2]

'Rajkot'

In [21]:
list2[-1][0]

'Rajkot'

In [20]:
list2[4][0]

'Rajkot'

In [10]:
list2[-1][1]

'Chennai'

In [11]:
list2[4][1]

'Chennai'

In [22]:
#Indexing

list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

list2[0]

'India'

In [23]:
#Slicing

list2[-1]

['Rajkot', 'Chennai']

In [24]:
list2 = ["India", "Delhi", 5, 10, ("Rajkot", "Chennai")]

In [25]:
list2[4][0]

'Rajkot'

In [32]:
#List Concat
list1 = [1,2,3,4]
list2 = [5,6,7,8]

new_list = list1 + list2

In [33]:
len(new_list)

8

In [34]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
#Add two elements to an existing list
list3 = [1,2,3,4]
#list4 = [5,6]
new_list = list3 +  [5,6]
new_list

[1, 2, 3, 4, 5, 6]

In [41]:
#Membership in lists & tuples

tuple3 = (1,2,3,4)
print(1 in tuple3)
print(5 in tuple3)

True
False

In [36]:
list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

#### Mutability

In [38]:
list1 = ["Maths", "Physics", "Chemistry", "Biology"]

In [39]:
list1[3]

'Biology'

In [45]:
list1[-1]

'Biology'

In [40]:
list1[3] = 'Computer Science'

In [41]:
list1

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [42]:
#extend() function --> It extends the list

list1 = [1,2,3,4]
list1.extend([5,6])
len(list1)

6

In [43]:
list1

[1, 2, 3, 4, 5, 6]

In [44]:
list1 = [1,2,3,4]
list1.append([5,6])
len(list1)

5

In [45]:
list1

[1, 2, 3, 4, [5, 6]]

In [58]:
list1 = [1,2,3,4]
list1.append([5,6])
len(list1)

5

In [60]:
len(list1)

5

In [61]:
list1[-1]

[5, 6]

In [47]:
#append() function

list1 = [1,2,3,4]
list1.append([5,6])

In [46]:
#del command

list1 = [11,22,33,44]

del list1[2]
list1

[11, 22, 44]

In [47]:
#pop() - Deletes the object based on the index value
# Default --> Removes the last element

list1 = [11,22,33,44]

list1.pop(2)
list1

[11, 22, 44]

In [49]:
list1 = [11,22,33,44]

list1.remove(33)
list1

[11, 22, 44]

In [ ]:
#pop() - By default, it deletes the last object from the list
#pop takes index as an input

list1 = [1,2,3,4]

list1.pop(2)
list1

In [ ]:
#remove() - takes value as an input

list1 = [1,2,3,4]

list1.remove(3)

In [50]:
#Sorting 
A = [9,5,2, 1, 12, 7]
A.sort()
A

[1, 2, 5, 7, 9, 12]

In [51]:
A = [9,5,2, 1, 12, 7]

In [52]:
A.sort(reverse=True)
A

[12, 9, 7, 5, 2, 1]

#### Difference between sort & sorted

In [53]:
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Oranges', 'Strawberry']
None

In [54]:
A = ["Oranges", "Strawberry", "Mango"]
A.sort()

In [55]:
A

['Mango', 'Oranges', 'Strawberry']

In [58]:
A = ["A", "C", "B"]
sorted(A)

['A', 'B', 'C']

In [59]:
A = ["A", "C", "B"]
A.sort()

In [60]:
A = ["A", "C", "B"]
B = sorted(A)
print(A)
print(B)

['A', 'C', 'B']
['A', 'B', 'C']

In [77]:
A = ["A", "C", "B"]
A.sort()
print(A)

['A', 'B', 'C']

In [62]:
A = ["Oranges", "Strawberry", "Mango"]
B = sorted(A)
print(A)
print(B)

['Oranges', 'Strawberry', 'Mango']
['Mango', 'Oranges', 'Strawberry']

#### shallow copy

In [61]:
A = ["Oranges", "Strawberry", "Mango"]
B = A
print(B)
print(A)

['Oranges', 'Strawberry', 'Mango']
['Oranges', 'Strawberry', 'Mango']

In [62]:
A.pop()

'Mango'

In [63]:
A

['Oranges', 'Strawberry']

In [64]:
B

['Oranges', 'Strawberry']

In [68]:
A = ["Oranges", "Strawberry", "Mango"]
B = A[0:3]
print(B)

['Oranges', 'Strawberry', 'Mango']

In [69]:
A.pop()

'Mango'

In [70]:
A

['Oranges', 'Strawberry']

In [71]:
B

['Oranges', 'Strawberry', 'Mango']

## Questions

#### Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.


Sample Input:
('Monty Python', 'British', 1969)

Sample Output:
('Monty Python', 'British', 1969, 'Python')

In [86]:
list1 = ['Monty Python', 'British', 1969]

In [87]:
list1.append('Python')
print(list1)

['Monty Python', 'British', 1969, 'Python']

In [88]:
tuple1 = ('Monty Python', 'British', 1969)

In [89]:
tuple1.append('Python')
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [92]:
tuple1 + ('Python',)

('Monty Python', 'British', 1969, 'Python')

In [93]:
tuple1 = ('Monty Python', 'British', 1969)

In [94]:
list1 = list(tuple1)

In [96]:
list1.append("Python")

In [97]:
list1

['Monty Python', 'British', 1969, 'Python']

In [98]:
tuple1 = tuple(list1)

In [99]:
tuple1

('Monty Python', 'British', 1969, 'Python')

In [62]:
tuple_new = ('Monty Python', 'British', 1969)
a = 'Python'
#Tuple Concatenation
tuple_new2 = tuple_new + (a,)

In [63]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [142]:
type(tuple_new2)

tuple

In [64]:
tuple_new = ('Monty Python', 'British', 1969)
list_new = list(tuple_new)
list_new.append('Python')
tuple_new2 = tuple(list_new)

In [65]:
tuple_new2

('Monty Python', 'British', 1969, 'Python')

In [146]:
type(tuple_new2)

tuple

#### Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

input_str = 'Kumar_Ravi_003'
O/P
Kumar
Ravi
003

In [65]:
input_str = 'Kumar_Ravi_003'

In [66]:
input_str[0:5]

'Kumar'

In [67]:
input_str[6:10]

'Ravi'

In [68]:
input_str[-3:]

'003'

In [69]:
input_str[11:]

'003'

In [72]:
input_str = 'Kumar_Ravi_003'

In [73]:
input_str

'Kumar_Ravi_003'

In [76]:
str1 = input_str[0:5]
str1

'Kumar'

In [77]:
str2 = input_str[6:10]
str2

'Ravi'

In [79]:
str3 = input_str[11:]
str3

'003'

In [69]:
input_str = 'Kumar_Ravi_003'

print(input_str[6:10])
print(input_str[0:5])
print(input_str[-3:])

Ravi
Kumar
003

In [ ]:
Ravi
Kumar
003

In [70]:
input_str = 'Kumar_Ravi_003'

In [72]:
list1 = input_str.split('_')

In [73]:
list1

['Kumar', 'Ravi', '003']

In [74]:
print(list1[1])
print(list1[0])
print(list1[2])

Ravi
Kumar
003

### Questions

#### Question 1: A List and a Tuple Together?
#### Question 2: Indexing from the End
- Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?

#### Question 3: I Lost Everything!
- word = ['1','2','3','4']
- word[ : ] = [ ] 
- print(word)

#### Sorted List
- Consider the following list:
- L = ['one','two','three', 'four', 'five', 'six']
- print(sorted(L))
- print (L)

#### Question

#### Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [85]:
list1 = ['SAS', 'R', 'PYTHON', 'SPSS']
list1[3] = 'SPARK'
list1

['SAS', 'R', 'PYTHON', 'SPARK']

In [25]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [26]:
input_list.remove('SPSS')
input_list.append('SPARK')

In [27]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

In [74]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

#### Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [ ]:
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

#### How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [1]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list

[['SAS', 'R'], ['Tableau', 'SQL'], ['Python', 'Java']]

In [2]:
input_list[-1]

['Python', 'Java']

In [3]:
type(input_list[-1])

list

In [4]:
input_list[-1][0]

'Python'

In [5]:
input_list[2][0]

'Python'

In [6]:
input_list[-1][-2]

'Python'

In [7]:
input_list[2][-2]

'Python'

In [9]:
a = 1,2,3,4
print(type(a))

<class 'tuple'>

In [14]:
a = (1,2,3,4)
print(len(a))

4

In [15]:
in_tu = (['SAS','R'],['Tableau','SQL'],['Python','Java'])

In [22]:
in_tu[-2][1]

'SQL'

In [23]:
s = {1,2,2,3,3,5,7}
type(s)

set

In [24]:
len(s)

5

In [7]:
new_list = ["HK", "India", "Japan", "Korea","USA"]

In [8]:
new_list

['HK', 'India', 'Japan', 'Korea', 'USA']

In [10]:
new_list[3]

'Korea'

In [13]:
new_list[0:2] #from 0th index till the 1st index

['HK', 'India']

In [14]:
new_list[0:4]

['HK', 'India', 'Japan', 'Korea']

In [15]:
new_list[0]

'HK'

In [17]:
new_list[-5]

'HK'

In [18]:
new_list[-5:-3]

['HK', 'India']

In [20]:
#Nested Lists

new_list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]

In [21]:
len(new_list2)

5

In [22]:
new_list2[4]

['Rajkot', 'Chennai']

In [23]:
new_list2[0]

'India'

In [24]:
type(new_list2[0])

str

In [25]:
type(new_list2[4])

list

In [27]:
new_list3 = new_list2[4]

In [29]:
new_list3[1]

'Chennai'

In [30]:
new_list2[4][1]

'Chennai'

In [31]:
new_list2[-1][1]

'Chennai'