<h1 style = "color : Brown">Variables & Keywords</h1>

A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.

In [6]:
a = 10

In [7]:
print(a)

10

In [10]:
type(a)

int

In [1]:
my_age = 33

In [2]:
my_age

33

In [3]:
print(my_age)

33

In [4]:
type(my_age)

int

In [5]:
my_country = "India"

In [6]:
my_country

'India'

In [7]:
type(my_country)

str

In [9]:
my_name2 = 'Satyajit Pattnaik'

In [10]:
my_name2

'Satyajit Pattnaik'

In [12]:
type(my_name)

str

In [8]:
a = 5.5

In [9]:
type(a)

float

In [10]:
print(a)

5.5

In [11]:
my_age = 32

In [12]:
print(my_age)

32

In [13]:
type(my_age)

int

In [5]:
my_name = 'Satyajit Pattnaik'

In [6]:
type(my_name)

str

In [11]:
a = "Hello World"

In [12]:
b ='Hello World'

In [13]:
a

'Hello World'

In [14]:
b

'Hello World'

In [15]:
type(a)

str

In [16]:
type(b)

str

In [17]:
type(a)

str

In [7]:
my_age = 31

In [10]:
print(my_age)

31

In [18]:
score = 89.4
score

89.4

In [8]:
type(score)

float

In [19]:
var = "Hello world, welcome to the class"

In [20]:
type(var)

str

In [11]:
var = 10

In [12]:
type(var)

int

In [13]:
string_var = "Hello world, welcome to the class"

In [14]:
print(string_var)

Hello world, welcome to the class

In [15]:
type(string_var)

str

### Type Casting

In [18]:
a = 89.9

In [15]:
type(a)

float

In [16]:
print(a)

89.5

In [20]:
a = int(a)

In [21]:
print(a)

89

In [22]:
type(a)

int

In [23]:
round(89.5,0)

90.0

In [26]:
a = 89.5
b = round(a,0)
b = int(b)
c = int(a)
print(b)
print(c)

90
89

In [27]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [28]:
a = float(a)
print(a)
print(type(a))

10.0
<class 'float'>

In [30]:
a = 10
a = str(a)
print(a)
print(type(a))

10
<class 'str'>

In [31]:
a = "hello"
#string --> float/int 

b = int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'hello'

In [36]:
a = "5"
#string --> float/int 

b = int(a)
print(b)

5

In [42]:
a = "5.5"
#string --> float/int 

b = int(float(a))
#b = int(a)
print(b)

5

In [ ]:
a = "5.5"
#string --> float/int 

b = float(a)
print(b)

In [19]:
a = 5
a = float(a)
print(type(a))
print(a)

<class 'float'>
5.0

In [22]:
a = '5'
a = int(a)
print(type(a))
print(a)

<class 'int'>
5

In [22]:
a = 10.5
print(type(a))

<class 'float'>

In [23]:
a = '10.5'
print(type(a))

<class 'str'>

In [18]:
a = "10.5"
type(a)

str

In [24]:
a = '10.5'
print(a)
print(type(a))

10.5
<class 'str'>

In [43]:
a='True'
print(type(a))
print(a)

<class 'str'>
True

In [44]:
a=True
print(type(a))
print(a)

<class 'bool'>
True

In [ ]:
integer: 5, 10, 15, 11, 9, 2, 900
float: 5.25, 6.1, 9.11
string: "", ''
boolean --> True, False

In [22]:
bool_var = "True"
print(bool_var)
print(type(bool_var))

True
<class 'str'>

In [23]:
bool_var = True
print(bool_var)
print(type(bool_var))

True
<class 'bool'>

In [26]:
5a=10

SyntaxError: invalid syntax (<ipython-input-26-9457d6d19478>, line 1)

In [25]:
a=10

In [30]:
a5

10

In [47]:
10a = 10

SyntaxError: invalid syntax (<ipython-input-47-c4b960182618>, line 1)

In [25]:
a5 = 10

In [26]:
a5

10

In [27]:
5a = 10

SyntaxError: invalid syntax (<ipython-input-27-62c1943fa328>, line 1)

In [48]:
a=10
A=15

In [49]:
a

10

In [50]:
A

15

In [51]:
name=2
Name=4

In [52]:
print(name)

2

In [53]:
print(Name)

4

In [54]:
print(NAME)

NameError: name 'NAME' is not defined

In [30]:
var = 10

In [31]:
float_var = 10.1

In [32]:
type(var)

int

In [8]:
type(float_var)

float

In [33]:
string1 = 'hello'
print(string1)

hello

In [34]:
string1

'hello'

In [35]:
string2 = "hello 123 world"
print(string2)

hello 123 world

In [13]:
1new_var = 10

SyntaxError: invalid syntax (<ipython-input-13-e637834d698f>, line 1)

In [14]:
new_var = 10

In [15]:
print(new_var)

10

In [36]:
name = 2
Name = 4
print(name)
print(Name)

2
4

In [37]:
a=4
b=5
c=a+b
print(c)

9

In [38]:
a=51
b=10
c=a+b
print(c)

61

In [39]:
def sum_two_numbers(a,b): 
    c = a+b
    return c

In [43]:
sum_two_numbers(115,30)

145

In [40]:
sum_function(5,10)

15

In [41]:
sum_function(15,20)

35

In [31]:
def sum_fun(a,b):
    c=a+b
    return c

sum_fun(5,6)

11

In [18]:
def func_sum(a,b):
    c=a+b
    return c


func_sum(4,5)

9

In [19]:

func_sum(14,55)

69

In [42]:
1name=5

SyntaxError: invalid syntax (<ipython-input-42-bcd6827c9a66>, line 1)

In [43]:
a = 10

In [ ]:
type(a)

In [52]:
type = 10

In [53]:
print(type)

10

In [44]:
a = 10.1

In [45]:
type(a)

float

In [46]:
welcome_string = "Welcome to the Python course"

In [47]:
print(welcome_string)

Welcome to the Python course

In [48]:
type(welcome_string)

str

In [49]:
a = 10
b = 5
c = a+b
print(c)

15

In [ ]:
def sum_function(a,b):
    c=a+b
    return c

In [ ]:
sum_function(5,6)

In [22]:
boolean_var = 'True'

In [23]:
type(boolean_var)

str

In [24]:
boolean_var = True

In [25]:
type(boolean_var)

bool

In [50]:
name = "satyajit pattnaik"
age = 31
gender = 'male'
address = 'hong kong'

In [51]:
#type() --> data type of the variable

type(age)

int

In [ ]:
continue, break def, print, type, len, in, import None, break, else, if

In [45]:
a = '5.5'

In [46]:
a = float(a)

In [47]:
a

5.5

In [48]:
a = int(a)

In [49]:
type(a)

int

In [50]:
a

5

In [ ]:
floor
ceiling

5.5 --> floor --> 5, ceiling --> 6